.questionbox {
    display: flex;
    background-color: lightblue;
    padding-right: 2px;
    cursor: pointer;
    align-items: center
}

.checkbox {
    margin: 8px;
}

.text {
    padding-right: 2px;
    padding-left: 2px;
    font-size: 10pt;
    font-family: sans-serif;
}
